<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= cssFileUrl %>/public/favicon.ico" type="image/x-icon" />
    <link href="<%= cssFileUrl %>/public/output.css" rel="stylesheet" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1 class="text-center font-bold uppercase text-green-600"><%= subject %></h1>
    <p class="mt-4 text-center text-sm">Your password has been successfully changed on <%= new Date().toLocaleString() %>.</p>
    <p class="mt-2 text-center text-sm">IP Address: <%= payload.ipAddress %></p>
    <p class="mt-2 text-center text-sm">User Agent: <%= payload.userAgent %></p>
    <p class="mt-2 text-center text-sm">If you did not make this change, please contact our support team immediately.</p>
  </body>
</html>
